/* UTILITY */
.ms_big_font {
  font-size: 1.5em;
}

.ms_wrapper {
  width: 60%;
  margin: 0 auto;
}

.ms_img {
  max-height: 300px;
}

.ms_img_margin {
  margin: 15px 0;
}

.ms_bg_green {
  background-color: #1BBC9C;
}

.ms_green {
  color: #1BBC9C;
}

.fa-star {
  font-size: 2em;
  margin-bottom: 15px;
}

.ms_rule_white {
  display: inline-block;
  vertical-align: middle;
  width: 10vw;
  margin: 0 20px;
  margin-bottom: 15px;
  height: 1px;
  border: 1px solid white;
}

.ms_rule_black {
  display: inline-block;
  vertical-align: middle;
  width: 10vw;
  margin: 0 20px;
  margin-bottom: 15px;
  height: 1px;
  border: 1px solid black;
}

/* HEADER */
/* barra fixed top */
.ms_fix_top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #2D3E50;
  color: white;
}

.ms_fix_top .fa-bars {
  font-size: 2em;
  /* line-height: 80px; */
}

.ms_fix_top .btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}



/* jumbotron */
.ms_jumbo {
  width: 100%;
  margin-top: 80px;
  padding: 40px 0;
  color: white;
}


/* MAIN */
/* portfolio */
.ms_relative {
  position: relative;
  margin: 15px 0;
  border-radius: 6px;
  overflow: hidden;
}

.ms_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(53, 136, 84, 0.61);
  visibility: hidden;
}

.ms_overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
}

.ms_relative:hover>.ms_overlay {
  visibility: visible;
}

/* about */
#about {
  color: white;
}


.download .btn {
  border: 1px solid white;
  color: white;
  background-color: #1BBC9C;
  margin: 15px 0 30px 0;
}
.download .fa-download {
  margin-right: 1em;
}

/* contact */
.ms_input {
  box-shadow: none;
  border-style: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
}

.btn-success {
  background-color: #1BBC9C;
  margin-top: 30px;
}

/* FOOTER */
/* info */
#info {
  background-color: #39546D;
  margin-top: 30px;
  color: white;
}

#info i {
  height: 2.5em;
  width: 2.5em;
  line-height: 1em;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

#info .col-sm-4 {
  margin: 30px 0;
}

/* copyright */
#copyright {
  height: 80px;
  line-height: 80px;
  background-color: #2D3E50;
  color: white;
}

#copyright .ms_small {
  font-size: 0.7em;
}


@media screen and (min-width: 992px) {

}
